:root {
  --main-color: #2A3647;
  --main-color-hover: #9747FF;
  --main-color-active:#091931; 
  --color-background: #F5F5F5;
  --color-background-sec: #2A3647;
  --color-background-layout: #FFFFFF;
  --color-border: #0000001A;
  --color-text: #2A3647;
  --color-warn: #f82d30;
  --color-warn-hover: #960300;
}



/*@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2A3647;
    --color-border: #FFFFFF;
    --color-background-sec: #1E2533;
    --color-background-layout: #353F50;
  }
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html{
  font-size: 10px;
  font-size: 10px;
  font-size: 10px;
}

body {
  height: 100svh;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}