#app {
  max-width: 2000px;
  height: 100%;
  margin: 0 0;
  padding: 0;
  font-weight: normal;
  overflow: hidden;
  background-color: var(--color-background);
  position: relative;
}

.main-button-layout {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--main-color);
  padding: 0rem 2rem;
  height: 4rem;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 700;
  white-space: nowrap;
  width: fit-content;
  img{
    height: 2.3rem;
    width: 2.3rem;
  }
}

.main-button-layout:hover {
  background-color: var(--main-color-hover);
  box-shadow: 0px 0px 4px 0px #00000040;
}

.main-button-layout:active {
  background-color: var(--main-color-active);
}

.main-button-layout:disabled {
  background-color: var(--main-color-disabled);
  cursor: not-allowed;
}

.secondary-button-layout {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  padding: 0rem 2rem;
  height: 4rem;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  color: var(--main-color);
  line-height: 25.2px;
  cursor: pointer;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 700;
  white-space: nowrap;
  width: fit-content;
}

.secondary-button-layout:hover {
  border-color:var(--main-color-hover);
  color: var(--main-color-hover);
  box-shadow: 0px 0px 4px 0px #00000040;
}

.secondary-button-layout:active {
  color: var(--main-color-active);
  border-color: var(--main-color-active);
  box-shadow: 0px 0px 4px 0px #00000040;
}

.secondary-button-layout:disabled {
  background-color: var(--main-color-disabled);
  cursor: not-allowed;
}

.button-red {
  background-color: var(--color-warn);
  color: white;

  &:hover {
    background-color: var(--color-warn-hover);
  }
}

.formHeader{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  
  img{
    height: 3.7rem;
    width: 3.7rem;
    cursor: pointer;
  }
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h1{font-weight: 700;
  font-size: 4rem;}

.headline{
  text-wrap: nowrap;
}

h2{
  font-weight: 400;
  font-size: 3rem;
}

h3{
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 0;
}

h4{
  font-weight: 400;
  font-size: 2rem;
}

p{
  font-size: 1.6rem;
  font-weight: 400;
}

.headlineComponent{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.graySeperator {
  width: 2px;
  height: 20px;
  background: #D1D1D1;
}

p.error-message {
  color: #f28b82!important;
  font-size: 1rem !important;
  margin: 0 !important;
  margin-bottom: 0.4rem !important;
  height: 1.8rem !important;
}


::-webkit-scrollbar {
  width: 10px; /* Breite des Scrollbars */
  max-height: 10px !important; /* Höhe des Scrollbars */
  margin-left: -10px !important;
}
::-webkit-scrollbar-track{
margin-block: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* Farbe des Scrollbar-Daumen */
  border-radius: 5px; /* Rundung des Scrollbar-Daumen */
 
}

span {
  /* Standardmäßig soll der Cursor "default" sein */
  cursor: default;
  /* Damit das Span keine Mausereignisse empfängt und "unsichtbar" für den Mauszeiger wird */
  pointer-events: none;
}