
@import './base.css';


#app {
  max-width: 2000px;
  height: 100%;
  margin: 0 0;
  padding: 0;
  font-weight: normal;
  overflow: hidden;
  background-color: var(--color-background);
}

.main-button-layout {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--main-color);
  padding: 1.5rem 2.4rem 1.5rem 2.4rem;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 700;
  white-space: nowrap;
  
}

.main-button-layout:hover {
  background-color: var(--main-color-hover);
  box-shadow: 0px 0px 4px 0px #00000040;
}

.main-button-layout:active {
  background-color: var(--main-color-active);
}

.main-button-layout:disabled {
  background-color: var(--main-color-disabled);
  cursor: not-allowed;
}

.secondary-button-layout {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  padding: 1.5rem 2.4rem 1.5rem 2.4rem;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  color: var(--main-color);
  line-height: 25.2px;
  cursor: pointer;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 700;
  white-space: nowrap;
}

.secondary-button-layout:hover {
  border-color:var(--main-color-hover);
  color: var(--main-color-hover);
  box-shadow: 0px 0px 4px 0px #00000040;
}

.secondary-button-layout:active {
  color: var(--main-color-active);
  border-color: var(--main-color-active);
  box-shadow: 0px 0px 4px 0px #00000040;
}

.secondary-button-layout:disabled {
  background-color: var(--main-color-disabled);
  cursor: not-allowed;
}

.formHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{font-weight: 700;
  font-size: 5rem;}

.headline{
  text-wrap: nowrap;
}

h2{
  font-weight: 400;
  font-size: 2.7rem;
}

.headlineComponent{
  display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.graySeperator {
  width: 2px;
  height: 20px;
  background: #D1D1D1;
}

